<form ng-submit="register(username, password)">
    <div class="form-group">
        <label>Nazwa użytkownika</label>
        <input class="form-control" type="text" ng-model="username">
        <span>{{nameRequired}}</span>
    </div>
    <div class="form-group">
        <label>Password</label>
        <input class="form-control" type="password" ng-model="password">
        <span>{{passwordRequired}}</span>
    </div>
    <input class="btn btn-success btn-lg btn-block" type="submit" value="Rejestruj">
</form>

<div ng-if='registerResponse' class="alert alert-success">
    <strong>Success!</strong> <a ng-click='disableRegisterResponse()' href=" /#/login " class="alert-link ">{{registerResponse}} </a>
</div>